<mat-card>
    <mat-card-title>Create User</mat-card-title>
    <mat-card-content>
<form [formGroup]="addUserForm" (submit)="CreateUser()">
    <p>
        <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="fname">
        <mat-error *ngIf="addUserForm.controls['fname'].errors && addUserForm.controls['fname'].hasError('required')">
            First Name is required.
        </mat-error>
    </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Middle Name" formControlName="mname">
    </mat-form-field>
    </p> 
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lname">
        <mat-error *ngIf="addUserForm.controls['lname'].errors && addUserForm.controls['lname'].hasError('required')">
            Last Name is required.
        </mat-error>
    </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
        <input matInput placeholder="Age" formControlName="age">
        <mat-error *ngIf="addUserForm.controls['age'].errors && addUserForm.controls['age'].hasError('maxlength')">
            Age is required.
        </mat-error>
    </mat-form-field>
    </p>
    <p>
        <label>Gender: </label>
        <input type="radio" value="Male" name="gender"> Male
        <input type="radio" value="Female" name="gender"> Female
    <p>
        <button mat-raised-button color="primary" [disabled]="!addUserForm">Create</button>
    </p>
</form>
</mat-card-content>
</mat-card>